body{
    background-color: palevioletred;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height:100vh;
}
.main{
    background-color:#05446d;
    border:2px solid black;
    height:500px;
    width:200px;
    color:black;
    box-shadow: 0 0 40px black;
}
.input{
    background-color:wheat;
    border:2px solid black;
    height:40px;
    width:90%;
    color:black;
    font-size:20px;
    margin:8px;
}
.res{
    display:flex;
    align-items:center;
    justify-content:center;
    height:380px;
    width:90%;
    margin:8px;
    color:black;
    border:2px solid black;
    background-color:wheat;
    font-size:30px;
    text-align: center;
}
p{
    font-size:20px;
    color:wheat;
    margin:3px;
    text-align: center;
}
h1{
    color:wheat;
    margin:15px;
    text-align: center;
    text-shadow: 0 0 10px black;
}
